.container{
    /*text-align: center;*/
    width: 500px;
    margin-left: 200px;
    margin-top: 10px;

}
.table{
    text-align: center;
    width: 450px;
    margin-left: 100px;
    /*margin-top: 10px;*/

}
/*h2{
    margin-top: 10px;
}*/