

<div class="contDiv">
<table class="content">
  <tr>
    <td routerLink="/CompanyLoginComponent">
<img   src="https://maxcdn.icons8.com/Share/icon/androidL/Business//add_contact_to_company1600.png">      
    </td>
    <td routerLink="/StudentLoginComponent">
<img  src="http://www.edutrics.com/main/images/student_user.png">
      
    </td>
    <td routerLink="/AdminLoginComponent">
<img  src="http://logicalsolutions.co.in/Images/admin.png">
      
    </td>
  </tr>
  <tr>
    <td>
      <h2>Company</h2>
    </td>
    <td>
      <h2>Student</h2>
    </td>
    <td>
     <h2> Admin</h2>
    </td>
  </tr>
</table>

<div>

