<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--The content below is only a placeholder and can be replaced.-->
<!--<md-toolbar color="primary" >
  <span>Campus Recruitement System</span>
  <button md-raised-button>
     <a routerLink="AdminLoginComponent">AdminLoginComponent</a>
  </button>

   <button md-raised-button>
    <a routerLink="StudentLoginComponent">StudentLoginComponent</a>
  </button>

   <button md-raised-button>
     <a routerLink="CompanyLoginComponent">CompanyLoginComponent</a>
  </button>
   <button md-raised-button>
     <a routerLink="StudSignUpComponent">StudSignUpComponent</a>
  </button>
</md-toolbar>-->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Campus Recruitement System</a>
    </div>
  </div>
</nav>
<!--<a routerLink='MainComponent' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ></a>-->

   <router-outlet></router-outlet>
<!--<div class="content">
  <div class="imgs">
<img  src="https://maxcdn.icons8.com/Share/icon/androidL/Business//add_contact_to_company1600.png">
<h3>Company</h3>
  </div>
  <div class="imgs">
<img  src="http://www.edutrics.com/main/images/student_user.png">
<h3>Student</h3>
  </div>
  <div class="imgs">
<img  src="http://logicalsolutions.co.in/Images/admin.png">
<h3>Admin</h3>
  </div>
</div>-->

<!--<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Redial</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>Check voicemail</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
</md-menu>-->




 
